[submodule "nokkhum/cloud"]
	path = nokkhum/cloud
	url = https://github.com/sdayu/nokkhum-cloud.git
[submodule "nokkhum/models"]
	path = nokkhum/models
	url = https://github.com/sdayu/nokkhum-models.git
