[DEFAULT]
nokkhum.log_dir = /tmp/nokkhum-log

[compute]
nokkhum.processor.path = /home/boatkrap/VSaaS/nokkhum-processor/Debug/nokkhum-processor
nokkhum.processor.record_path = /tmp/nokkhum-records
nokkhum.compute.interface = eth0

amq.url = amqp://guest:guest@localhost:5672/nokkhum

nokkhum.storage.enable = true
nokkhum.storage.api = s3 
nokkhum.storage.s3.host = 172.30.235.30
nokkhum.storage.s3.port = 8888
nokkhum.storage.s3.access_key_id = 5628de77f55d466fb61cda17baf4f8ea
nokkhum.storage.s3.secret_access_key = 4b21c167bfde4edfb519c27b8d03f174
nokkhum.storage.s3.secure_connection = false

[loggers]
keys=root, nokkhum, boto

[logger_root]
handlers=
level=NOTSET
qualname=(root)

[logger_nokkhum]
handlers=nokkhumhandler
level=NOTSET
qualname=nokkhum

[logger_boto]
handlers=botohandler
level=NOTSET
qualname=boto

[formatters]
keys=simple,complex

[formatter_simple]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s

[formatter_complex]
format=%(asctime)s - %(name)s:%(levelname)s [%(module)s:%(lineno)d] - %(message)s

[handlers]
keys=nokkhumhandler, screen, botohandler

[handler_nokkhumhandler]
class=handlers.TimedRotatingFileHandler
interval=midnight
backupCount=5
formatter=complex
level=DEBUG
args=('%(nokkhum.log_dir)s/nokkhum-compute.log',)

[handler_botohandler]
class=handlers.TimedRotatingFileHandler
interval=midnight
backupCount=5
formatter=complex
level=DEBUG
args=('%(nokkhum.log_dir)s/nokkhum-compute_boto.log',)

[handler_screen]
class=StreamHandler
formatter=simple
level=NOTSET
args=(sys.stdout,)
